.theme-colors{
    display: none;
}

.menu .main-menu ul li a {
    height: 80px;
}
/* .menu-item {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bt{
    border-bottom: none;
}

.tp{
    border-top: none;
} */
.upload-options{
    justify-content: center;
}

.dropzone i {
    font-size: 32px;
    line-height: 42px;
}
.straight-btn{
    border-radius: 0px;
}
